{% extends "app_main/base.html" %}

{% block content %}

<h1 class="display-5 fw-bold">Upload car image</h1>

<p class="col-md-8 fs-4">Select car image to recognize license plate number</p>

<form action="{% url 'app_main:upload' %}" method="post" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">Description</label>
        {{form.description}}
    </div>
    
    <div class="mb-3">
        <label class="form-label">Picture</label>
        {{form.path}}
    </div>

    <button type="submit" class="btn btn-primary">Recognize</button>

</form>

{% endblock %}

{% block imgs %}
    {% for img in imgs %}
    <div class="row">
        <figure class="figure">
            <img src="{{media}}{{img}}" class="figure-img img-fluid rounded py-2" 
                alt="square placeholder img with rounded corners in a figure.">
        </figure>
    </div>
    {% endfor %}
    <h3>{{plate_number}}</h3>
{% endblock %}
